.btn {
display:inline-block;
text-align:center;
line-height:inherit;
white-space:nowrap;
max-width:100%;
text-overflow:ellipsis;
cursor:pointer;
vertical-align:middle;
position:relative;
text-decoration:none;
text-transform:uppercase;
}
.btn-shadow {
box-shadow:0 5px 10px -2px var(--premiumbase-1)!important
}
.btn-shadow-small {
box-shadow:0 5px 16px rgba(var(--brand-primary-rgb), .5)
}
.premiumsafari .btn-shadow-small {
box-shadow:0 5px 16px var(--premiumbase-6)
}
.btn-dark-shadow {
box-shadow:0 5px 10px -2px rgba(0, 0, 0, .4)!important
}
.btn-dark-shadow-small {
box-shadow:0 5px 16px rgba(0, 0, 0, .1)
}
.btn-no-shadow {
box-shadow:none!important
}
.invert, .invert .bsk-btn {
color:#fff!important
}
.btn-min-width-200 {
min-width:200px
}
.btn-min-width-110 {
min-width:110px
}
@media screen and (max-width:767px) {
.btn-xs-max-width {
width:100%
}
}
.btn-sm {
padding:4px 22px
}
.btn-sm, .btn-sm i.icon-inside, .btn-sm-1, .btn-sm-1 i.icon-inside {
font-size:13px
}
.btn-sm.btn-inside-out>.before {
padding-top:4px
}
.btn-sm-1.btn-simple, .btn-sm.btn-simple {
min-width:130px
}
.btn-sm-1 {
padding:8px 26px
}
.btn-sm-1.btn-inside-out>.before {
padding-top:8px
}
.btn-sm-2 {
padding:7px 22px
}
.btn-md, .btn-md i.icon-inside, .btn-md-1 i.icon-inside, .btn-md-5 i, .btn-sm-2, .btn-sm-2 i.icon-inside {
font-size:14px
}
.btn-sm-2.btn-inside-out>.before {
padding-top:7px
}
.btn-sm-2.btn-simple {
min-width:110px
}
.btn-md {
padding:10px 33px
}
.btn-md-1.btn-inside-out>.before, .btn-md.btn-inside-out>.before {
padding-top:10px
}
.btn-md-1 {
letter-spacing:3.5px;
min-height:44px;
font-size:14px
}
.btn-md-1, .btn-md-2 {
padding:10px 33px
}
.btn-md-2, .btn-md-2 i.icon-inside {
font-size:16px
}
.btn-md-2.btn-inside-out>.before {
padding-top:12px
}
.btn-md-3 {
padding:9px 22px 9px 26px;
font-size:14px
}
.btn-md-4, .btn-md-4 i.icon-inside {
font-size:12px
}
.btn-md-5 {
font-size:10px;
padding:12px 33px
}
.btn-lg {
padding:15px 33px
}
.btn-lg, .btn-lg i.icon-inside {
font-size:16px
}
.btn-lg.btn-inside-out>.before {
padding-top:21px
}
.donation .btn-lg {padding:22px 33px}
.btn-lg-1 {
padding:13px 33px
}
.btn-lg-1, .btn-lg-1 i.icon-inside {
font-size:12px
}
.btn-lg-1.btn-inside-out>.before {
padding-top:13px
}
.btn-xl {
padding:17px 42px
}
.btn-xl, .btn-xl i.icon-inside {
font-size:19px
}
.btn-xl.btn-inside-out>.before {
padding-top:17px
}
.btn__full_width {
width:100%
}
.btn [class*=fa-].icon-left {
margin:0 0 0 10px;
position:relative;
z-index:3
}
.btn-box {
text-align:center
}
.btn-box+.btn-box {
margin-top:49px
}
.btn:focus {
box-shadow:none;
color:#fff
}
.btn [class*=fa-] {
margin-right:10px;
vertical-align:baseline
}
[dir=rtl] .btn [class*=fa-] {
margin-right:0;
margin-left:10px
}
.btn-icon:after, .btn-icon:before {
padding-left:10px
}
.btn-icon [class*=fa-] {
position:relative;
color:#fff;
font-size:16px;
z-index:1
}
.btn-icon-right i, .btn.btn-icon-abs [class*=fa-] {
top:50%;
-webkit-transform:translateY(-50%);
transform:translateY(-50%)
}
.btn-icon-right i {
position:absolute!important;
right:20px;
margin-right:0!important
}
.btn-icon-right:after, .btn-icon-right:before {
padding-left:0
}
.btn.btn-icon-abs [class*=fa-] {
position:absolute;
left:-16px;
font-size:48px;
color:#e0e0ff;
opacity:.3;
z-index:1
}
.btn-simple {
position:relative;
background:#fff;
color:var(--brand-primary);
box-shadow:0 5px 16px 0 rgba(0, 0, 0, .2);
padding:10px 15px;
min-width:110px;
vertical-align:middle;
line-height:16px
}
.btn-simple:hover {
color:#fff!important;
background:var(--brand-primary)
}
.btn-simple, .btn-simple i.icon-inside {
font-size:24px
}
.btn-simple [class*=fa-]:not(.icon-inside) {
margin-right:0;
font-size:24px;
font-weight:700
}
.btn-simple.btn-circle {
min-width:0;
width:52px;
height:52px;
color:var(--brand-primary)!important
}
.btn-simple.btn-circle>.after, .btn-simple.btn-circle>.before {
display:none
}
.btn-inside-out_dark:hover, .btn-simple.btn-circle:hover {
background:var(--premiumbase-4)!important
}
.btn-simple.btn-circle:hover .text {
color:var(--brand-primary)!important
}
.btn-simple.btn-circle i.icon-inside {
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%)
}
[dir=rtl] .btn-simple.btn-circle i.icon-inside {
margin-left:0
}
.btn-simple.btn-circle i.icon-inside:before {
line-height:24px;
vertical-align:top
}
.btn-simple.btn-circle.btn-md {
width:44px;
height:44px
}
.btn-inside-out {
overflow:hidden;
border:0;
-webkit-transition:background .4s ease .3s, \box-shadow .4s;
transition:background .4s ease .3s, \box-shadow .4s;
will-change:background
}
.btn-inside-out_dark:hover {
color:#272727!important
}
.btn-inside-out_dark, .btn-inside-out_dark>.after, .btn-inside-out_dark>.before {
background:#272727!important
}
.btn-inside-out_dark:hover i, .btn-inside-out_text-dark, .btn-inside-out_text-dark>.after, .btn-inside-out_text-dark>.before {
color:#272727!important
}
.btn-inside-out_blue:hover {
background-color:var(--premiumbase-1)!important;
color:#fff
}
.btn-inside-out_blue, .btn-inside-out_blue>.after, .btn-inside-out_blue>.before {
background:#000243!important
}
.btn-inside-out .icon-inside {
margin-right:8px
}
[dir=rtl] .btn-inside-out .icon-inside {
margin-right:0;
margin-left:8px
}
.btn-inside-out .icon-inside~.after, .btn-inside-out .icon-inside~.before {
padding-left:24px
}
[dir=rtl] .btn-inside-out .icon-inside~.after, [dir=rtl] .btn-inside-out .icon-inside~.before {
padding-left:0;
padding-right:24px
}
.btn-inside-out.btn-icon-right .icon-inside~.after, .btn-inside-out.btn-icon-right .icon-inside~.before, .btn-inside-out.btn-icon-right .icon-inside~.text {
padding-right:20px;
padding-left:0
}
[dir=rtl] .btn-inside-out.btn-icon-right .icon-inside~.after, [dir=rtl] .btn-inside-out.btn-icon-right .icon-inside~.before, [dir=rtl] .btn-inside-out.btn-icon-right .icon-inside~.text {
padding-left:20px;
padding-right:0
}
.btn-inside-out>.after, .btn-inside-out>.before {
position:absolute;
width:100%;
height:50%;
left:0;
overflow:hidden;
background:#fe9722;
color:#fff;
-webkit-transition:\transform .3s;
transition:\transform .3s
}
.btn-bg>.after, .btn-bg>.before {
position:absolute;
width:100%;
height:50%;
left:0;
overflow:hidden;
background:#222;
color:#fff;
-webkit-transition:\transform .3s;
transition:\transform .3s
}
.btn-inside-out>.before {
top:0;
padding-top:5px
}
.btn-inside-out>.after {
bottom:1px;
line-height:0
}
.btn-inside-out>span.text {
display:inline-block;
-webkit-transform:scale(.1);
transform:scale(.1);
will-change:transform;
opacity:0;
color:#fff;
-webkit-transition:\transform .3s, opacity .3s;
transition:\transform .3s, opacity .3s
}
.btn-inside-out:hover {
background:#fe9722;
-webkit-transition:background .4s;
transition:background .4s;
-webkit-transition-delay:0s;
transition-delay:0s;
color:#fff;
box-shadow:0 5px 10px -2px var(--premiumbase-1)
}
.btn-inside-out:hover>.before {
-webkit-transform:translateY(-105%);
transform:translateY(-105%)
}
.btn-inside-out:hover>.after {
-webkit-transform:translateY(105%);
transform:translateY(105%)
}
.btn-inside-out:hover>span.text {
opacity:1;
-webkit-transform:scale(1);
transform:scale(1)
}
.btn-inside-out:hover.btn-shadow {
box-shadow:0 5px 10px -2px rgba(var(--premiumbase-1-rgb), .8)!important
}
.btn-inside-out:hover.btn-shadow-small {
box-shadow:0 5px 16px rgba(var(--premiumbase-1-rgb), .8)!important
}
.btn-inside-out:hover.btn-dark-shadow {
box-shadow:0 5px 10px -2px rgba(var(--premiumbase-1-rgb), .8)!important
}
.btn-inside-out:hover.btn-dark-shadow-small {
box-shadow:0 5px 16px rgba(var(--premiumbase-1-rgb), .8)!important
}
.btn-inside-out-invert {
border:0;
box-shadow:0 5px 16px rgba(0, 0, 0, .15)
}
.btn-inside-out-invert-light>.after, .btn-inside-out-invert-light>.before, .btn-inside-out-invert>.after, .btn-inside-out-invert>.before {
background:#fff;
color:#000
}
.btn-inside-out-invert:hover span.text, .btn-inside-out-invert:hover.btn-icon [class*=fa-]:before {
color:#fff
}
.btn-inside-out-invert span.text, .btn-inside-out-invert-light span.text, .btn-inside-out-invert-light.btn-icon [class*=fa-]:before, .btn-inside-out-invert-light:hover.btn-icon [class*=fa-]:before, .btn-inside-out-invert.btn-icon [class*=fa-]:before {
color:#000
}
.btn-inside-out-invert-light {
border:0;
box-shadow:0 5px 21px var(--premiumbase-1)
}
.btn-inside-out-invert-light:hover {
background-color:rgba(255, 255, 255, .9)
}
.btn-inside-out-light-hover:hover {
background-color:#fff;
color:#222
}
.btn-prime {
color:var(--brand-primary);
background:#fff;
border:0;
box-shadow:0 5px 16px rgba(0, 0, 0, .2);
position:relative;
overflow:hidden;
z-index:1
}
.btn-prime .border-btn {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
border:2px solid #000;
z-index:-1
}
.btn-prime>.after, .btn-prime>.before {
content:'';
position:absolute;
left:0;
right:0;
height:0;
background:#009d35 -webkit-transition:background .4s, height .4s;
transition:background .4s, height .4s;
z-index:-1
}
.btn-prime>.before {
top:0
}
.btn-prime>.after {
bottom:0
}
.btn-prime:hover {
color:var(--brand-primary)!important
}
.btn-prime:hover>.after, .btn-prime:hover>.before {
height:50%;
background:var(--premiumbase-4)!important
}
.btn-prime-white>.after, .btn-prime-white>.before {
background:#fff
}
.btn-prime-white .border-btn {
border-color:#fff
}
.btn-prime-white:hover {
color:var(--brand-primary)!important
}
.btn-prime-primary-transparent, .btn-prime-white-transparent {
background:0 0;
color:#fff
}
.btn-prime-primary-text-transparent:hover>.after, .btn-prime-primary-text-transparent:hover>.before, .btn-prime-primary-transparent:hover>.after, .btn-prime-primary-transparent:hover>.before, .btn-prime-white-transparent:hover>.after, .btn-prime-white-transparent:hover>.before {
background:#fff!important
}
.btn-prime-white-transparent .border-btn {
border-color:#fff
}
.btn-prime-primary-text-transparent .border-btn, .btn-prime-primary-transparent .border-btn {
border-color:var(--brand-primary)
}
.btn-prime-primary-text-transparent {
background:0 0;
color:var(--brand-primary)
}
.all-light .btn-prime:hover [class*=fa-].icon-left, .btn-prime.btn-invert {
color:#fff
}
.btn-prime.btn-invert>.after, .btn-prime.btn-invert>.before {
background:0 0
}
.btn-prime.btn-invert .border-btn {
border-color:var(--premiumbase-2)
}
.btn-prime_thin .border-btn {
border-width:1px
}
