/*---------------------------------------
[Master Stylesheet]

Project: Sakhi Foundation
Version: 1.0
Last change: 29/09/2019 
Assigned to: Srgit
Primary use: Sakhi Foundation Template  
---------------------------------------
[Table of contents]

1. Body / body
2. Navbar / .navbar
3. Header / .header
4. About Us / #about-us 
4. our achievements/
5. Our Campaigns / #counter-bg
6. our volunteers / #our-volunteers
7. our-partners / .our-partners
8. slick slider / .slick-slider
9. newsletter/ #newsletter
10. footer/ .main-footer
11. meet-the-team/ #meet-the-team
12. gallery/ #gallery
13. Our Charity/ #our-charity
14. blog/ #blog
15. events/ #events
16. blog/ #causes
17. contact/ #contact
18. style-css-map / .style.css.map
---------------------------------------

# [Color codes]

Body-Font:  	#424242 {dark}
Background:		#ffffff (white)
Content:		#424242 (light black)

a (standard):	#424242 (black)
a (visited):	#fe9722 (dark yellow)
a (active):	 	#fe9722 (dark yellow)
---------------------------------------

[Font Properties]

Body font:       'Lato', sans-serif
Headers:         'Lato', sans-serif
Heading:         'Lato', sans-serif
Input, textarea: 'DM Serif Display', serif', sans-serif

---------------------------------------*/

/*bootstrap*/
@import url('../vendor/bootstrap/css/bootstrap.min.css');

/*fontawesome*/
@import url('../vendor/fontawesome-free/css/all.min.css');

/*style*/
@import url('style.css');

/*counter*/
@import url('../vendor/counter/counter.css');

/*revslider*/
@import url('../vendor/revslider/css/settings.css');

/*btn*/
@import url('btn.css');

/*team*/
@import url('components/team.css');

/*image-frames*/
@import url('components/image-frames.css');

/*slick*/
@import url('../vendor/slick/slick.css');
@import url('../vendor/slick/slick-theme.css');

/*owlcarousel*/
@import url('../vendor/owlcarousel/owl.carousel.min.css');
@import url('../vendor/owlcarousel/owl.theme.default.min.css');

/*pagination*/
@import url('components/pagination.css');

/*portfolio-list*/
@import url('components/portfolio-list.css');

/*portfolio-list*/
@import url('components/flip-box.css');

/*fancybox*/
@import url('../vendor/fancybox/jquery.fancybox.min.css');

/*gallery*/
@import url('../vendor/gallery/gallery.css');

/*hover-css*/
@import url('hover-css.css');

/*responsive*/
@import url('responsive.css');
